<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wechats.mapper.SkillMapper">
    
    <resultMap type="com.ruoyi.wechats.domain.Skill" id="SkillResult">
        <result property="pkSkillId"    column="pk_skill_id"    />
        <result property="skillName"    column="skill_name"    />
        <result property="price"    column="price"    />
        <result property="fkTid"    column="fk_tid"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="createId"    column="create_id"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectSkillVo">
        select pk_skill_id, skill_name, price, fk_tid, create_time, status, create_id, update_id, update_time from sys_skill
    </sql>
	
    <select id="selectSkillList" parameterType="com.ruoyi.wechats.domain.Skill" resultMap="SkillResult">
        <include refid="selectSkillVo"/>
        <where>  
            <if test="pkSkillId != null "> and pk_skill_id = #{pkSkillId}</if>
             <if test="skillName != null  and skillName != '' "> and skill_name = #{skillName}</if>
             <if test="price != null "> and price = #{price}</if>
             <if test="fkTid != null "> and fk_tid = #{fkTid}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="status != null "> and status = #{status}</if>
             <if test="createId != null "> and create_id = #{createId}</if>
             <if test="updateId != null "> and update_id = #{updateId}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectSkillById" parameterType="Long" resultMap="SkillResult">
        <include refid="selectSkillVo"/>
        where pk_skill_id = #{pkSkillId}
    </select>
        
    <insert id="insertSkill" parameterType="com.ruoyi.wechats.domain.Skill" useGeneratedKeys="true" keyProperty="pkSkillId">
        insert into sys_skill
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="skillName != null  and skillName != ''  ">skill_name,</if>
			<if test="price != null  ">price,</if>
			<if test="fkTid != null  ">fk_tid,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="status != null  ">status,</if>
			<if test="createId != null  ">create_id,</if>
			<if test="updateId != null  ">update_id,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="skillName != null  and skillName != ''  ">#{skillName},</if>
			<if test="price != null  ">#{price},</if>
			<if test="fkTid != null  ">#{fkTid},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="status != null  ">#{status},</if>
			<if test="createId != null  ">#{createId},</if>
			<if test="updateId != null  ">#{updateId},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateSkill" parameterType="com.ruoyi.wechats.domain.Skill">
        update sys_skill
        <trim prefix="SET" suffixOverrides=",">
            <if test="skillName != null  and skillName != ''  ">skill_name = #{skillName},</if>
            <if test="price != null  ">price = #{price},</if>
            <if test="fkTid != null  ">fk_tid = #{fkTid},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="createId != null  ">create_id = #{createId},</if>
            <if test="updateId != null  ">update_id = #{updateId},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where pk_skill_id = #{pkSkillId}
    </update>

	<delete id="deleteSkillById" parameterType="Long">
        delete from sys_skill where pk_skill_id = #{pkSkillId}
    </delete>
	
    <delete id="deleteSkillByIds" parameterType="String">
        delete from sys_skill where pk_skill_id in 
        <foreach item="pkSkillId" collection="array" open="(" separator="," close=")">
            #{pkSkillId}
        </foreach>
    </delete>
    
</mapper>